<div>
    <img src="https://p.w3layouts.com/demos_new/template_demo/14-08-2018/edulearn-demo_Free/275217196/web/images/bg5.jpg" alt="" srcset="">
    <h2>Hey <span id="name"></span></h2>
    <button id="logout" (click)="onLogoutClick()">Logout</button>
   <div class="group">
      
      <!-- <h4>hyyy</h4> -->
      <h1 class="text-center">Choose your subject!</h1>
    <button (click)="algo()">Algorithm Design</button>
    <button (click)="software()">Software Engineering</button>
    <button (click)="java()">Java</button>
   </div>
  </div>