<form (submit)="onLoginSubmit()">
  <img src="https://p.w3layouts.com/demos_new/template_demo/14-08-2018/edulearn-demo_Free/275217196/web/images/banner2.jpg" alt="" srcset="">
  <div class="group">
    <h3 class="text-center">Login yourself</h3>
      <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
          <span class="loginUsername"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <span class="loginPassword"></span>
        </div>
        
        <button type="submit" value="submit" class="btn btn-primary submit">Submit</button>
        <button  (click)="onRegister()" class="btn btn-success register1">Register</button>
      
  </div>
</form>
<h4>Don't have an account? Register here <button  (click)="onRegister()" class="btn btn-success register2">Register</button></h4>

