<form (submit) = "onRegister()" novalidate>
    <img src="https://p.w3layouts.com/demos_new/template_demo/14-08-2018/edulearn-demo_Free/275217196/web/images/banner2.jpg" alt="" srcset="">
   <div class="group">
     <h3 class="text-center">
       Register yourself
     </h3>
      <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)] = "name" name="name" class="form-control" id="exampleInputName"  placeholder="Enter your name">
          <!-- <span *ngIf="registration.name.$touched && registration.name.$error['required']">Name cannot be empty</span> -->
        </div>
        <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input type="text" [(ngModel)] = "username" name="username"  class="form-control" id="exampleInputUsername" placeholder="Enter your Username">
          </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" [(ngModel)] = "email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [(ngModel)] = "password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      
     
      <button type="submit" value="submit" class="btn btn-primary submit">Submit</button>
      <button (click)="onLogin()" class="btn btn-success login1">Login</button>
 
   </div> 
  
  </form>
  <h4>Already have an account? Login here <button (click)="onLogin()" class="btn btn-success login2">Login</button></h4>