<div>
  <img src="https://p.w3layouts.com/demos_new/template_demo/14-08-2018/edulearn-demo_Free/275217196/web/images/bg5.jpg" alt="" srcset="">

  <div class="group">
      <h2>{{questionObject.questionName}}</h2>
      <form  [formGroup]="quesForm" (ngSubmit)="onjava()">
          <span><input type="radio" id="o1" formControlName="option"  [value]="questionObject.option1"> {{questionObject.option1}}</span>
          <span><input type="radio" id="o2" formControlName="option"  [value]="questionObject.option2"> {{questionObject.option2}}</span>
          <span><input type="radio" id="o3" formControlName="option"  [value]="questionObject.option3"> {{questionObject.option3}}</span>
          <span><input type="radio" id="o4" formControlName="option"  [value]="questionObject.option4"> {{questionObject.option4}}</span>
          <button type="submit" value="submit" class="btn btn-primary" >Submit</button>
          <button class="btn btn-success" (click)="finish()">Finish Quiz</button>
      </form>
       
  </div>

</div>

